@import 'tailwindcss';
@import './scrollbar.css';

:root {
  font-family: var(--font-poppins), sans-serif;
  cursor: url('/assets/cursor.png'), auto;
}


body {
  font-family: var(--font-poppins), sans-serif;
  cursor: url('/assets/sunny.png'), auto;
}
